body {
  background: #3EE2E3;

}


.grid-button {
	display:grid;
	grid-template-columns: auto auto auto auto auto auto;
}

.grid-button button {
		padding: 10px 24px;
		color: white;
		border-radius: 12px;
		font-size: 16px;
	
}

.linus {
		background-color: green;

	}

	.torvalds {
		background-color: red;
		}

.servo-button button {
		padding: 10px 24px;
		border-radius: 12px;
		font-size: 16px;
		background: #3EE36D;
	
}

.speed-button button {
		padding: 10px 24px;
		border-radius: 12px;
		font-size: 16px;
		background: #E35E3E;
	
}
